  </main>
  <footer class="footer">© 2025</footer>
  <div class="toast-wrap" id="toast-wrap"></div>
  <% if (toast) { %>
    <script>window.__TOAST = <%- JSON.stringify(toast) %>;</script>
  <% } %>
</body>
</html>
